.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; 
    background-color: #ffffff11;
    display: flex;
    justify-content: center; 
}
.text {
    text-align: center; 
    margin: 0; 
    width: 100%; 
}